name: Deploy Portfolio Website

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t portfolio-website.

      - name: Test website
        run: |
          docker run -d --name test-app -p 8080:80 portfolio-website
          sleep 10
          curl -f http://localhost:8080 || exit 1
          echo "Website test passed"
          docker stop test-app

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: azrialbanurea/kasat-website:latest